{% assign abstract = nil %}
{% assign paragraphs = post.content | split: '\n\n' %}
{% for paragraph in paragraphs %}
  {% if paragraph contains '<!-- abstract -->' %}
    {% assign abstract = paragraph | strip_html %}
    {% break %}
  {% endif %}
{% endfor %}

<link rel="stylesheet" href="/assets/css/post.css">


<div class="row post-preview" href="{{post.permalink}}">
    {% comment %} If screen is extra small (xs) or small (sm), display as one row {% endcomment %}
    <div class="col-12 col-sm-6">
        <a href="{{post.permalink}}">
            <img src="{{post.preview}}" alt="..." class="img-fluid">
        </a>
    </div>
    <div class="col-12 col-sm-6 p-sm-0">
        <a href="{{post.permalink}}">
            <div class="row">
                <h4 >{{post.title}}</h4>
            </div>
            <div class="row">
                <p class="compact">{{ abstract }}</p>
            </div>
        </a>
    </div>
</div>
 