{% assign parts = post.content | split:"<!-- end-abstract -->" %}
{% capture abstract %}{{ parts[0] }}{% endcapture %}
{% capture content %}{{ parts[1] }}{% endcapture %}


<link rel="stylesheet" href="/assets/css/post-preview.css">

{% comment %} Use e_permalink for external links, otherwise use permalink {% endcomment %}
{% if post.e_permalink %}
    {% assign link_url = post.e_permalink %}
{% else %}
    {% assign link_url = post.permalink %}
{% endif %}

<a href="{{link_url}}" class="post-preview-link">
    <div class="row post-preview">
        {% comment %} If screen is extra small (xs) or small (sm), display as one row {% endcomment %}
        <div class="col-12 col-sm-6 context-image">
            <img src="{{post.preview}}" alt="..." class="img-fluid">
        </div>
        <div class="col-12 col-sm-6 context-text">
            <div class="text-content">
                <div class="h3">{{post.title}}</div>
                <div class="abstract-content">
                    {{ abstract }}
                </div>
            </div>
        </div>
    </div>
</a>