
<footer class="container-fluid bg-light border-top pt-4 mt-4">
    <div class="container">

        <div class="row">
            {% include media.html %}
        </div>

        <hr>

        <div class="row additional-info">
            <div class="col">
                <p><strong>Name</strong></p>
                <p>{{ site.name }}</p>
                <p><strong>Contanct</strong></p>
                <p>{{ site.email }}</p>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</footer>