<!-- _includes/social_links.html -->
<link rel="stylesheet" href="/assets/css/media.css">
{% assign icon_size = include.size | default: "fa-3x" %}
{% assign align = include.align | default: "text-center" %}

<ul class="list-inline {{ align }} social-links">
    {% if site.github_username %}
    <li class="list-inline-item">
        <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github {{ icon_size }}"></i>
        </a>
    </li>
    {% endif %}
    {% if site.email %}
    <li class="list-inline-item">
        <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope {{ icon_size }}"></i>
        </a>
    </li>
    {% endif %}
    {% if site.youtube %}
    <li class="list-inline-item">
        <a href="https://www.youtube.com/{{ site.youtube }}">
            <i class="fa fa-youtube {{ icon_size }}"></i>
        </a>
    </li>
    {% endif %}
    {% if site.linkedin_username %}
    <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
            <i class="fa fa-linkedin {{ icon_size }}"></i>
        </a>
    </li>
    {% endif %}
</ul>
