/* Default styling for the figure block */
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}

figure > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

figure img {
  height: auto;
  max-width: 100%; /* Prevent images from overflowing */
}

figure figcaption {
  text-align: center;
  margin-top: 0.5em;
}

/* Media query for small screens */
@media (max-width: 600px) {
  figure {
    flex-direction: column; /* Stack images vertically */
    align-items: center; /* Center images */
    width: 100% !important; /* Force images to fill the container width */

  }

  figure img {
    width: 100% !important; /* Force images to fill the container width */
  }
}