.about-me {
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: #4a87a5; */
    /* border-radius: 12px; */
    border-bottom: 2px solid #4a87a5;
    padding: 20px;
}

/* Ensure main hero section (picture + text) uses max 65% of viewport height */
.main-hero {
    max-height: 65vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.about-me h3 {
    font-weight: 600;
    color: #333;
    margin-bottom: 20px !important;
}

/* Center "About me" title on small screens */
@media (max-width: 575px) {
    .about-me h3 {
        text-align: center;
    }
}


/* .tab-content {
    padding: 0;
} */

/* h3 {
    margin: 0 !important;
    padding: 0 !important;
} */