.social-links {
    list-style: none;
    /* padding: 0; */
    /* margin: auto; */
    /* margin-top: 50px; */
    /* display: flex; */
    /* justify-content: center; */
}

.social-links li {
    margin: 0; /* Adjust spacing between icons */
}

.social-links a {
    text-decoration: none;
    /* color: inherit; */
    color: #333; /* Default color */
}
