.post-preview{
    transition: all 0.3s;
    width: 600px;
    max-height: 200px;
    margin: 20px;
    overflow: hidden;
    transform: scale(1.0);

    /* box-shadow: 0 4px 6px -6px gray; */

}

.post-preview:hover{
    z-index: 1;
    max-height: none;
    transform: scale(1.0);
    box-shadow: 0 2px 2px -2px gray;
}

.post-preview img{
    object-fit: cover;
    width: 250px;
    height: 200px;
}

.fill{
    width: 100%;
    height: 100%;
    text-align: start;
}

.headerIMG{
    object-fit: cover;
    /* overflow: hidden; */
    height: 250px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.baseContainer{
    max-width: 750px;
    /* margin-top: 20px; */
}

.baseContainer p{
    line-height: 2.;
    margin-bottom: 30px;
}

.baseContainer ul, .baseContainer ol {
    padding-left: 30px;
}

.baseContainer .alert{
    width: 90%;
    margin: auto 0;
    margin-bottom: 20px;
}

p a{
    color: #3498db;
}

@media (max-width: 576px) { /* Small screens */
    .post-preview {
        max-height: 400px; /* Double the height */
    }
    .post-preview img{
        margin-bottom: 10px;
        width: 100%;
    }
}

/* Adding 'Contents' headline to the TOC */
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}

/* Using numbers instead of bullets for listing */
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid #aaa;
    padding: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    list-style: decimal;
    display: inline-block;
    max-width: calc(100% - 3em);
}

#markdown-toc a {
    color: rgb(70, 176, 238);
}