---
---

<head>
    <link rel="stylesheet" href="/assets/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="/assets/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/figure.css">
    <link rel="stylesheet" href="/assets/css/footer.css">

</head>

{% assign parts = page.content | split:"<!-- end-abstract -->" %}
{% capture abstract %}{{ parts[0] }}{% endcapture %}
{% capture content %}{{ parts[1] }}{% endcapture %}


<body>

    {% include navbar.html %}

    <div class="container baseContainer">
        <div class="row">
            <div class="col-auto">
                <h1 class="display-5"> {{page.title}} </h1>
            </div>
        </div>

        <img src="{{page.preview}}" alt="Couldn't load preview image :\" class="headerIMG">

        <div class="row">
            <h1 class="display-6">Abstract:</h1>
            <p class="lead">{{ abstract }}</p>
        </div>

        <div class="row">
            {{ content }}
        </div>

    </div>
    {% include footer.html %}
</body>